<ion-view title="Cards">
    <ion-content overflow-scroll="true" padding="true" class="has-header main-defaults">
        <div class="list card">
            <div class="item-body card-style-1">
                <div>

<div class="name">Owen Rolls</div>
<div class="number">19</div>
<div class="position">Defence</div>




                </div>
                <div class="spacer" style="width: 268px; height: 61px;"></div>
            </div>
        </div>
        <div class="bottom-pin-button">
            <button class="button button-energized button-block icon ion-trophy">ENTER SCORE</button>

        </div>
    </ion-content>
</ion-view>