<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" class="has-header main-defaults">

        <div class="logo-large"></div>

        <div class="bottom-pin-button">
            <form class="list" ng-submit="ppLogin()">
                <div class="form-wrapper">
                    <ion-list>
                        <label class="item item-input form-fields top">
                            <span class="input-label light-blue">Email</span>
                            <input type="text" placeholder="" ng-model="loginData.email">
                        </label>
                        <label class="item item-input form-fields bottom">
                            <span class="input-label light-blue">Password</span>
                            <input type="password" placeholder="" ng-model="loginData.password">
                        </label>
                    </ion-list>
                </div>
                <button class="button button-energized button-block" type="submit">LOGIN</button>
                <a ui-sref="join" class="button button-light button-clear button-block button-small icon ion-android-person-add">JOIN THE PACK</a>
            </form>
        </div>
    </ion-content>
</ion-view>