<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" class="has-header main-defaults">

        <div class="logo-large"></div>

        <div class="bottom-pin-button">
            <form class="list">
                <div class="form-wrapper">
                    <ion-list>
                        <label class="item item-input form-fields top">
                            <span class="input-label light-blue">Username</span>
                            <input type="text" placeholder="">
                        </label>
                        <label class="item item-input form-fields bottom">
                            <span class="input-label light-blue">Password</span>
                            <input type="password" placeholder="">
                        </label>
                    </ion-list>
                </div>
                <a ui-sref="menu.profile" class="button button-energized button-block button-block">LOGIN</a>
                <a ui-sref="join" class="button button-light button-clear button-block button-small icon ion-android-person-add">JOIN THE PACK</a>
            </form>
        </div>
    </ion-content>
</ion-view>