<ion-view title="Profile">
    <ion-content overflow-scroll="true" padding="true" class="has-header main-defaults">
        <a ui-sref="cameraTabDefaultPage" class="button button-light button-outline button-block  icon ion-camera">Player Photo</a>
        <form class="list">
            <ion-list>
                <ion-item class="item-divider form-header">Player Info</ion-item>
                <label class="item item-input form-fields top">
                    <span class="input-label light-blue">First Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input form-fields">
                    <span class="input-label light-blue">Last Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input form-fields bottom">
                <span class="input-label light-blue">Jersey Number</span>
                <input type="text" placeholder="">
            </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 23px;"></div>
            <ion-item class="item-divider form-header">Team Info</ion-item>
            <label class="item item-input form-fields top">
                <span class="input-label light-blue">City</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input form-fields">
                <span class="input-label light-blue">Team</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-select form-fields bottom">
                <span class="input-label light-blue">Position</span>
                <select>
                    <option></option>
                    <option>Center</option>
                    <option>Forward</option>
                    <option>Defence</option>
                    <option>Goalie</option>
                </select>
            </label>
            
        </form>
        <div class="bottom-pin-button">
        <a ui-sref="menu.cards" class="button button-energized button-block ">SUBMIT</a>
        <a class="button button-light button-clear button-block button-small"></a>
    </div>
    </ion-content>
</ion-view>